<div class="container-fluid exercises">
  <h1 class="submission-header" data-toggle="modal" data-target=#exerciseModal data-exercise="<%= @exercise.name %>"><%= link_to @exercise.name, "#" %> <span><%= link_to icon("code"), "#" %></span></h1><p class="submission-sub-header"> submitted by <%= link_to @submissions.first.user_nickname, user_path(@submissions.first.user_nickname) %> </p></h1>
  <% count = @submissions.count %>
  <% @submissions.each do |submission| %>
    <div class="panel panel-default">
      <div class="panel-heading"> <%= "#{count.ordinalize} iteration | completed #{time_ago_in_words(submission.created_at)} ago" %>
      </div>
      <div class="panel-body code-panel">
        <div class="row">
          <div class="col-md-6 solution-code">
            <%= submission.coderay_solution %>
          </div>
          <%= render partial: "comments", locals: { submission: submission } %>
        </div>
      </div>
    </div>
    <% count -= 1 %>
  <% end %>
</div>
<%= render partial: "spec_modal" %>
